
<!-- Footer -->
<div class="row footer bg-dark p-5 m-0">
    <div class="col-12 col-md-3">
      <h5>Enlaces</h5>
      <ul class="list-unstyled">
        <li>
          <a [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/profile']">Perfil</a>
        </li>
        <li>
          <a href="">Documentación</a>
        </li>
        <li>
          <a href="https://github.com/slossada/llatan">Repositorio</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <p class="text-center font-weight-light my-4 pb-4">Desarrollado por Santiago Lossada.</p>
    </div>
    <div class="col-12 col-md-3 d-flex justify-content-center align-items-start">
      <button (click)="botonRegresar()" class="btn btn-dark btn-outline-secondary">Regresar</button>
    </div>
  </div>