<div class="row">
  <div class="col mx-0 mx-sm-4 mx-md-5 mx-lg-5 mx-xl-5 mt-4 mb-2">
      <h3>Dashboard</h3>
  </div>
</div>
<div class="row mt-5 pb-5 main">
  <div class="col d-flex justify-content-center">

      <!-- Card Deck del Cliente -->
        <div class="card-deck">
          <div *ngIf="user.rol != 0 && this.rol != undefined" class="card text-center" style="max-width: 18rem; max-height: 24rem;">
              <img class="img-responsive mx-auto mt-4 mb-2" src="assets/dashboard/calendar.png" alt="Imagen Eventos" width="130" height="140">
              <div class="card-body px-sm-1 px-md-2 px-lg-3 px-xl-3 mt-3">
                  <h5 class="card-title">Eventos</h5>
                  <p class="card-text">Enterate de los ultimos eventos y marca tu disponibilidad!</p>
                  <a [routerLink]="['/lista-eventos']" class="btn btn-outline-primary mx-0 mx-sm-0 mx-md-0">Ver Eventos</a>
              </div>
          </div>
          <div *ngIf="user.rol == 4 || user.rol == 5" class="card text-center" style="max-width: 18rem; max-height: 24rem;">
            <img class="img-responsive mx-auto mt-4 mb-2" src="assets/dashboard/new-calendar.png" alt="Imagen Nuevo Evento" width="130" height="140">
            <div class="card-body px-sm-1 px-md-2 px-lg-3 px-xl-3 mt-3">
                <h5 class="card-title">Nuevo Evento</h5>
                <p class="card-text">Completa la informacion necesaria para crear un evento!</p>
                <a [routerLink]="['/form-eventos']" class="btn btn-outline-primary mx-0 mx-sm-0 mx-md-0">Crear Evento</a>
            </div>
          </div>
          <div *ngIf="user.rol == 4 || user.rol == 5" class="card text-center" style="max-width: 18rem; max-height: 24rem;">
            <img class="img-responsive mx-auto mt-4 mb-2" src="assets/dashboard/config-calendar.png" alt="Imagen Nuevo Evento" width="130" height="140">
            <div class="card-body px-sm-1 px-md-2 px-lg-3 px-xl-3 mt-3">
                <h5 class="card-title">Administrar Evento</h5>
                <p class="card-text">Configura y edita toda la información de los Eventos!</p>
                <a [routerLink]="['/config-eventos']" class="btn btn-outline-primary mx-0 mx-sm-0 mx-md-0">Administrar</a>
            </div>
          </div>
          <div *ngIf="user.rol != 0 && this.rol != undefined" class="card text-center" style="max-width: 18rem; max-height: 24rem;">
              <img class="img-responsive mx-auto mt-4 mb-2" src="assets/dashboard/text-lines.png" alt="Imagen Noticias" width="130" height="140">
              <div class="card-body px-sm-1 px-md-2 px-lg-3 px-xl-3">
                  <h5 class="card-title">Noticias</h5>
                  <p class="card-text">Averigua todo sobre La Llanada al rededor del mundo!</p>
                  <a [routerLink]="['/noticias']" class="btn btn-outline-primary">Ver Noticias</a>
              </div>
          </div>
          <div class="card text-center" style="max-width: 18rem; max-height: 24rem;">
              <img class="img-responsive mx-auto mt-4 mb-2" src="assets/profile/man.png" alt="Imagen Perfil" width="130" height="140">
              <div class="card-body px-sm-1 px-md-2 px-lg-3 px-xl-3 mt-3">
                  <h5 class="card-title">Mi Perfil</h5>
                  <p class="card-text">Ve la informacion de tu perfil</p>
                  <a class="btn btn-outline-primary" [routerLink]="['/profile']">Perfil</a>
              </div>
          </div>

      </div>
      </div>
  </div>

