<!-- Main -->

<!-- Chequea si ya cargo el Usuario -->
<div *ngIf="user != undefined" class="main">
  <div class="row">
    <div class="col-11 col-md-10 col-lg-9 mx-auto mb-5 mt-3 py-5 px-5 bg-white border rounded">
        <!-- Nombre del Guia -->
        <h2 class="page-header pb-3">{{user.nombre}} {{user.seg_nombre}} {{user.apellido}}</h2>

        <!-- Tabs -->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
              aria-selected="true"><i class="fas fa-user-circle pr-1"></i> Datos Personales</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
              aria-selected="false"><i class="fas fa-compass pr-1"></i> Actividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
              aria-selected="false"><i class="fas fa-file-alt pr-1"></i> Historial</a>
          </li>
        </ul>

        <!-- Contenido -->
        <div class="tab-content" id="pills-tabContent">
          <!-- Info del Guia -->
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container">
              <div class="row">
                <div class="col-3 d-flex align-items-center">
                  <img class="img-responsive rounded mx-auto mt-4 mb-2" src="assets/profile/man.png" alt="Foto Guia" width="130" height="140">
                </div>
                <div class="col-9">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Cedula: </span>
                      <p class="lead m-0">{{user.cedula}}</p>
                    </li>
                    <li *ngIf="user.sobreNombre != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Sobrenombre: </span>
                      <p class="lead m-0">{{user.sobreNombre}}</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span class="lead">Usuario: </span>
                          <p class="lead m-0">{{user.username}}</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span class="lead">Correo: </span>
                          <p class="lead m-0">{{user.email}}</p>
                      </li>
                    <li *ngIf="user.rol != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Cargo: </span>
                      <p class="lead m-0">{{user.cargo}}</p>
                    </li>
                    <li *ngIf="user.anoIngreso != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Año de Ingreso: </span>
                      <p class="lead m-0">{{user.anoIngreso}}</p>
                    </li>
                    <li *ngIf="user.rol == 4" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Temporadas Coordinadas: </span>
                      <p class="lead m-0"></p>
                    </li>
                    <li *ngIf="user.fechaNacimiento != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Fecha de Nacimiento: </span>
                      <p class="lead m-0">{{user.fechaNacimiento}}</p>
                    </li>
                    <li *ngIf="user.fechaNacimiento != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Edad: </span>
                      <p class="lead m-0">{{user.edad | date: 'yyyy'}}</p>
                    </li>
                    <li *ngIf="user.sexo != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Sexo: </span>
                      <p class="lead m-0">{{user.sexo}}</p>
                    </li>
                    <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">¿Tiene evaluaciones pendientes? </span>
                      <span href="#" class="badge badge-pill badge-danger text-white lead m-0">Si</span>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Actividades -->
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="container">
        
              <!-- Lista de Eventos -->          
                <!-- Table -->
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-hover bg-light text-dark">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Tipo de Evento</th>
                          <th scope="col">Detalle</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let evento of mis_eventos; let i=index">
                          <td scope="row">{{evento.Nombre}}</td>
                          <td scope="row">{{evento.Tipo}}</td>
                          <td class="d-flex justify-content-center">
                              <button (click)="verDetalle(i)" class="btn btn-sm btn-outline-secondary" type="button">Ver</button>
                          </td>
                          <!-- Estado -->
                          <td>
                            <span *ngIf="evento.Estado == undefined" class="badge badge-pill badge-warning text-white">Esperando Disponibilidad</span>
                            <span *ngIf="evento.Estado == 0" class="badge badge-pill badge-secondary text-white">{{estados[0].Tipo}}</span>
                            <span *ngIf="evento.Estado == 1" class="badge badge-pill badge-primary text-white">{{estados[1].Tipo}}</span>
                            <span *ngIf="evento.Estado == 2" class="badge badge-pill badge-success text-white">{{estados[2].Tipo}}</span>
                            <span *ngIf="evento.Estado == 3" class="badge badge-pill badge-danger text-white">{{estados[3].Tipo}}</span>
                          </td>
                          <!-- Acciones -->
                          <td class="d-flex justify-content-center">
                            <button *ngIf="evento.Estado == undefined" (click)="marcarDisponibilidad(i,1)" class="btn btn-sm btn-outline-success" type="button">Disponible</button>
                            <button *ngIf="evento.Estado == 0" (click)="marcarDisponibilidad(i,2)" class="btn btn-sm btn-outline-success" type="button">Cambiar a Disponible</button>
                            <button *ngIf="evento.Estado == 1 || evento.Estado == 2 || evento.Estado == 3" (click)="marcarDisponibilidad(i,3)" class="btn btn-sm btn-outline-danger" type="button">Quitar Disponibilidad</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Fin de la Tabla -->
            </div>
          </div>

          <!-- Historial -->
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="container">
              <div class="row">
                  <div class="col-3">
                      
                  </div>
                  <div class="col-9">
                      <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span class="lead">Puntaje: </span>
                          <p class="lead m-0">80 pts.</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span class="lead">Última Evaluación: </span>
                          <a href="#" class="btn btn-sm btn-primary lead m-0">Ver Evaluación</a>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span class="lead">Tags: </span>
                          <span class="badge badge-pill badge-success">Destacado</span>
                      </li>
                      </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
    
</div>

<div class="container justify-content-center">
  <div class="col-11 col-md-6 col-lg-4 mx-auto my-auto">
    <!-- Tarjeta -->
    <div class="card text-center">
      <div class="card-header">
        <h5 *ngIf="completoFormulario()" class="pt-3">Actualiza tus Datos</h5>
        <h5 *ngIf="!completoFormulario()" class="pt-3">Complete el formulario</h5>
      </div>
      <div class="card-body">
        <p *ngIf="completoFormulario()">Si quieres hacer alguna modificación a sus datos personales puede hacerlo aquí.</p>
        <p *ngIf="!completoFormulario()">Nos faltan algunos de sus datos personales. Por favor, tómese un momento para llenarlos.</p>
        <a class="btn btn-primary" [routerLink]="['/form-guia']">Ir al formulario</a>
      </div>
    </div>
  </div>
</div>