<!-- Main -->

<!-- Chequea si ya cargo el Usuario -->
<div *ngIf="user != undefined" class="main">
  <div class="row">
    <div class="col-11 col-md-10 col-lg-9 mx-auto mb-5 mt-3 py-5 px-5 bg-white border rounded">
        <!-- Nombre del Guia -->
        <h2 class="page-header pb-3">{{user.Nombre}} {{user.Snombre}} {{user.Apellido}}</h2>

        <!-- Tabs -->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
              aria-selected="true"><i class="fas fa-user-circle pr-1"></i> Datos Personales</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
              aria-selected="false"><i class="fas fa-compass pr-1"></i> Actividades</a>
          </li>
          <!-- <li *ngIf = "user.esAdministrador" class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
              aria-selected="false"><i class="fas fa-file-alt pr-1"></i> Historial</a>
          </li> -->
        </ul>

        <!-- Contenido -->
        <div class="tab-content" id="pills-tabContent">
          <!-- Info del Guia -->
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container">
              <div class="row">
                <div class="col-3 d-flex align-items-center">
                  <img class="img-responsive rounded mx-auto mt-4 mb-2" src="assets/profile/man.png" alt="Foto Guia" width="130" height="140">
                </div>
                <div class="col-9">
                  <ul class="list-group list-group-flush">
                    <li *ngIf="user.SobreNombre != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Sobrenombre: </span>
                      <p class="lead m-0"><b>{{user.SobreNombre}}</b></p>
                    </li>
                    <li *ngIf="user.Rol != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Cargo: </span>
                      <p class="lead m-0">{{user.Cargo}}</p>
                    </li>
                    <li *ngIf="user.AnoIngreso != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Año de Ingreso: </span>
                      <p class="lead m-0">{{user.AnoIngreso}}</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Correo: </span>
                      <p class="lead m-0">{{user.Email}}</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Usuario: </span>
                      <p class="lead m-0">{{user.Username}}</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Cedula: </span>
                      <p class="lead m-0">{{user.Cedula}}</p>
                    </li>
                    <li *ngIf="user.Sexo != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Sexo: </span>
                      <p class="lead m-0">{{user.Sexo}}</p>
                    </li>
                    <li *ngIf="user.FechaNacimiento != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Fecha de Nacimiento: </span>
                      <p class="lead m-0">{{user.FechaNacimiento}}</p>
                    </li>
                    <li *ngIf="user.FechaNacimiento != null" class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="lead">Edad: </span>
                      <p class="lead m-0">{{user.Edad | date: 'yyyy'}}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Actividades -->
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="container">
        
              <!-- Lista de Eventos -->          
                <!-- Table -->
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-hover bg-light text-dark">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Tipo de Evento</th>
                          <th scope="col">Fecha</th>
                          <th *ngIf="user.esAdministrador" scope="col">Encargado</th>
                          <th *ngIf="!user.esAdministrador" scope="col">Estado</th>
                          <th *ngIf="user.esAdministrador" scope="col">Evaluaciones</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let evento of mis_eventos; let i=index">
                          <td scope="row">
                            <button (click)="verDetalle(i)" class="btn btn-sm btn-outline-secondary" type="button">{{evento.Nombre}}</button> <span *ngIf="evento.Encargado == user.id" class="badge badge-pill badge-secondary text-white">Encargado</span>
                          </td>
                          <td scope="row">{{evento.Tipo}}</td>
                          <td scope="row">
                            <span *ngIf="evento.FechaInicio == evento.FechaFin" scope="row">{{evento.FechaInicio}}</span>
                            <span *ngIf="evento.FechaInicio != evento.FechaFin" scope="row">{{evento.FechaInicio}} - {{evento.FechaFin}}</span>
                          </td>
                          <!-- Nombre Encargado -->
                          <td *ngIf="user.esAdministrador" scope="row">{{evento.NombreEncargado}} {{evento.ApellidoEncargado}}</td>
                          <!-- Estado o Evaluaciones -->
                          <td *ngIf="!user.esAdministrador" scope="row">
                            <span *ngIf="evento.Estado == undefined" class="badge badge-pill badge-warning text-white">Esperando Disponibilidad</span>
                            <span *ngIf="evento.Estado == 0" class="badge badge-pill badge-secondary text-white">{{estados[0].Tipo}}</span>
                            <span *ngIf="evento.Estado == 1" class="badge badge-pill badge-primary text-white">{{estados[1].Tipo}}</span>
                            <span *ngIf="evento.Estado == 2" class="badge badge-pill badge-success text-white">{{estados[2].Tipo}}</span>
                            <span *ngIf="evento.Estado == 3" class="badge badge-pill badge-danger text-white">{{estados[3].Tipo}}</span>
                          </td>
                          <td *ngIf="user.esAdministrador" scope="row">
                            <span *ngIf="evento.Evaluacion != undefined" class="badge badge-pill badge-info text-white">{{evento.Evaluacion}}</span>
                          </td>
                          <!-- Acciones -->
                          <td class="d-flex justify-content-center">
                              <div class="btn-group">
                                <button *ngIf="user.esAdministrador" (click)="finalizarEvento(i)" class="btn btn-sm btn-outline-danger" type="button">Finalizar</button>
                                <button *ngIf="!user.esAdministrador" (click)="marcarDisponibilidad(i,1)" class="btn btn-sm btn-outline-success" type="button">Cambiar a Disponible</button>
                                <button *ngIf="!user.esAdministrador" (click)="marcarDisponibilidad(i,0)" class="btn btn-sm btn-outline-danger" type="button">Quitar Disponibilidad</button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Fin de la Tabla -->
            </div>
          </div>

          <!-- Historial -->
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="container">
              <div class="row">
                  <div class="col-3">
                      
                  </div>
                  <div class="col-9">
                      <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span class="lead">Puntaje: </span>
                          <p class="lead m-0">80 pts.</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span class="lead">Última Evaluación: </span>
                          <a href="#" class="btn btn-sm btn-primary lead m-0">Ver Evaluación</a>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span class="lead">Tags: </span>
                          <span class="badge badge-pill badge-success">Destacado</span>
                      </li>
                      </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container justify-content-center">
      <div class="col-11 col-md-6 col-lg-4 mx-auto my-auto">
        <!-- Tarjeta -->
        <div class="card text-center">
          <div class="card-header">
            <h5 class="pt-3">Actualiza tus Datos</h5>
          </div>
          <div class="card-body">
            <p>Si quieres hacer alguna modificación a sus datos personales puede hacerlo aquí.</p>
            <a class="btn btn-outline-primary" [routerLink]="['/form-guia']">Ir al formulario</a>
          </div>
        </div>
      </div>
    </div>
    
</div>

