<div class="row main p-4 p-md-3">
  <!-- Lista de Eventos -->          
  <div class="container py-5 mt-3 mb-5">
    <h2 class="mb-3">Lista de Eventos</h2>
    <!-- Table -->
    <div class="container">
      <div class="table-responsive">
        <table class="table table-hover bg-light text-dark">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo de Evento</th>
              <th scope="col">Detalle</th>
              <th scope="col">Fecha</th>
              <th scope="col">Cupos</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evento of eventos; let i=index">
              <td scope="row">{{evento.Nombre}}</td>
              <td scope="row">{{evento.Tipo}}</td>
              <td class="d-flex justify-content-center">
                  <button (click)="funcion(i)" class="btn btn-sm btn-outline-secondary" type="button">Detalle</button>
              </td>
              <td>
                  <span *ngIf="evento.FechaInicio == evento.FechaFin" scope="row">{{evento.FechaInicio}}</span>
                  <span *ngIf="evento.FechaInicio != evento.FechaFin" scope="row">{{evento.FechaInicio}} - {{evento.FechaFin}}</span>
              </td>
              <td scope="row">{{evento.Cupos}}</td>
              <!-- Estado -->
              <td>
                <span *ngIf="evento.Estado == undefined" class="badge badge-pill badge-warning text-white">Esperando Disponibilidad</span>
                <span *ngIf="evento.Estado == 0" class="badge badge-pill badge-secondary text-white">{{estados[0].Tipo}}</span>
                <span *ngIf="evento.Estado == 1" class="badge badge-pill badge-primary text-white">{{estados[1].Tipo}}</span>
                <span *ngIf="evento.Estado == 2" class="badge badge-pill badge-success text-white">{{estados[2].Tipo}}</span>
                <span *ngIf="evento.Estado == 3" class="badge badge-pill badge-danger text-white">{{estados[3].Tipo}}</span>
                <span *ngIf="evento.Estado == 4" class="badge badge-pill badge-dark text-white">{{estados[4].Tipo}}</span>  
              </td>
              <!-- Acciones -->
              <td class="d-flex justify-content-center">
                <button *ngIf="evento.Estado == undefined" (click)="marcarDisponibilidad(i,1)" class="btn btn-sm btn-outline-success" type="button">Disponible</button>
                <button *ngIf="evento.Estado == 0" (click)="marcarDisponibilidad(i,2)" class="btn btn-sm btn-outline-success" type="button">Cambiar a Disponible</button>
                <button *ngIf="evento.Estado == 1 || evento.Estado == 2 || evento.Estado == 3" (click)="marcarDisponibilidad(i,3)" class="btn btn-sm btn-outline-danger" type="button">Quitar Disponibilidad</button>
                <button *ngIf="evento.Estado == 4" (click)="funcion(i)" class="btn btn-sm btn-outline-success" type="button">Staff</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fin de la Tabla -->