<div class="row main p-4 p-md-3">
  <!-- Lista de Eventos -->          
  <div class="container py-5 mt-3 mb-5">
    <h2 class="mb-3">Lista de Eventos</h2>
    <!-- Alert -->
    <div class="container">
        <div *ngIf = "alerta" class="alert alert-danger alert-dismissible fade show rounded" role="alert">
            <strong>¡Alerta!</strong> Quiere finalizar el Evento <b>{{eliminar.Nombre}}</b>. ¿Está seguro?
            <div class="btn-group">
              <button (click)="botonesSiNo(true)" class="btn btn-sm btn-outline-danger" type="button">Si.</button> <button (click)="botonesSiNo(false)" class="btn btn-sm btn-outline-danger" type="button">No!</button>
            </div>
        </div>
    </div>
    <!-- Table -->
    <div class="container">
      <div class="table-responsive">
        <table class="table table-hover bg-light text-dark">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo de Evento</th>
              <th scope="col">Fecha</th>
              <th *ngIf="!user.esAdministrador" scope="col">Cupos</th>
              <th *ngIf="user.esAdministrador" scope="col">Encargado</th>
              <th *ngIf="!user.esAdministrador" scope="col">Estado</th>
              <th *ngIf="user.esAdministrador" scope="col">Evaluaciones</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evento of eventos; let i=index">
              <td scope="row">
                  <button (click)="verDetalle(i)" class="btn btn-sm btn-outline-secondary" type="button">{{evento.Nombre}}</button> <span *ngIf="evento.Encargado == user.id" class="badge badge-pill badge-secondary text-white">Encargado</span>
              </td>
              <td scope="row">{{evento.Tipo}}</td>
              <td scope="row">
                  <span *ngIf="evento.FechaInicio == evento.FechaFin" scope="row">{{evento.FechaInicio}}</span>
                  <span *ngIf="evento.FechaInicio != evento.FechaFin" scope="row">{{evento.FechaInicio}} - {{evento.FechaFin}}</span>
              </td>
              <!-- Cupos o Nombre Encargado -->
              <td *ngIf="!user.esAdministrador" scope="row">{{evento.Cupos}}</td>
              <td *ngIf="user.esAdministrador" scope="row">{{evento.NombreEncargado}} {{evento.ApellidoEncargado}}</td>
              <!-- Estado o Evaluaciones -->
              <td *ngIf="!user.esAdministrador" scope="row">
                <span *ngIf="evento.Estado == undefined" class="badge badge-pill badge-warning text-white">Esperando Disponibilidad</span>
                <span *ngIf="evento.Estado == 0" class="badge badge-pill badge-secondary text-white">{{estados[0].Tipo}}</span>
                <span *ngIf="evento.Estado == 1" class="badge badge-pill badge-primary text-white">{{estados[1].Tipo}}</span>
                <span *ngIf="evento.Estado == 2" class="badge badge-pill badge-success text-white">{{estados[2].Tipo}}</span>
                <span *ngIf="evento.Estado == 3" class="badge badge-pill badge-danger text-white">{{estados[3].Tipo}}</span>
              </td>
              <td *ngIf="user.esAdministrador" scope="row">
                <span *ngIf="evento.Evaluacion != undefined" class="badge badge-pill badge-info text-white">{{evento.Evaluacion}}</span>
              </td>
              <!-- Acciones -->
              <td scope="row">
                <div class="btn-group">
                  <button *ngIf="user.esAdministrador" (click)="finalizarEvento(i)" class="btn btn-sm btn-outline-danger" type="button">Finalizar</button>
                  <button *ngIf="!user.esAdministrador" (click)="marcarDisponibilidad(i,1)" class="btn btn-sm btn-outline-success" type="button">Cambiar a Disponible</button>
                  <button *ngIf="!user.esAdministrador" (click)="marcarDisponibilidad(i,0)" class="btn btn-sm btn-outline-danger" type="button">Quitar Disponibilidad</button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fin de la Tabla -->